---
export interface CardProps {
  image: string;
  label: string;
  title: string;
  description: string;
  price: string;
  buttonText: string;
  extralabel: string; // Optional prop for the additional label
}

import { Image } from "astro:assets";
import bottle from "../assets/images/red_bottle.svg";
import Button from "../components/Button.astro";
const { image, label, title, description, price, buttonText, extralabel } = Astro.props;
---

<div
  class="max-w-[400px] bg-neutral-800 rounded-none shadow-drop25 h-xs col-span-4 transform hover:scale-[1.02] transition-all duration-300 ease-in-out"
>
  <a href="/singleview">
    <div class="image">
      <img class="w-xs h-xs h-[50%] w-[100%]" src={image} alt={title} />
    </div>
    <!-- Labels Container (relative positioning) -->
    <div class="relative flex flex-col justify-center items-center">
      <!-- Label 1 -->
      <span class="flex flex-row justify-evenly gap-3 items-center absolute bottom-4 right-0 text-neutral-950 bg-neutral-50 p-2 w-24">
        {label}
        <Image src={bottle} alt="bottle icon" width="10" height="10" />
      </span>

      <!-- Label 2 (Only on Card with Position 1) -->
      {extralabel && <span class="absolute left-0 p-2 text-center w-40 bg-red-700 text-neutral-50 -top-[25rem]">{extralabel}</span>}
    </div>
    <!-- Content -->
    <div class="p-5">
      <h3 class="mb-2 tracking-tight text-neutral-50">{title}</h3>
      <p class="mb-8 font-normal text-neutral-50">{description}</p>
      <h4 class="mb-8 md:text-h3-desktop text-h3-mobile text-neutral-50">{price}</h4>
      <div class="flex justify-center">
        <a href="/singleview">
          <Button variant="primary" size="small">{buttonText}</Button>
        </a>
      </div>
    </div>
  </a>
</div>
